<div class="container-ConsultarSolicitud">
    <div class="wrap-ConsultarSolicitud">
        <h2 style="padding: 10px;">Consultar solicitudes</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Docente</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <th scope="row">1</th>
                    <td>maria</td>
                    <td>aceptado</td>
                    <td>5/11/2020</td>
                    <td>
                        <div class="form-group row">
                           
                                <img src="../../assets/images/testigo.png">
                                <input type="submit" onClick=" window.location.href='solicitud-individual.html'" />
                           
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>