<div class="container-registroAsignatura">
    <div class="wrap-registroAsignatura">

        <div class="row">

            <div class="col-md-10 offset-md-3">
                <h3>Registro de Asignaturas</h3>
                <form autocomplete="off" [formGroup]="formGroup">

                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" [ngClass]="{'is-invalid': control.codigo.errors && control.codigo.touched}"
                            formControlName="codigo" placeholder="3F34" name="codigo" class="form-control" required />
                        <div *ngIf="control.codigo.errors" class="invalid-feedback">
                            <div *ngIf="control.codigo.errors.required">Se requiere el codigo</div>
                            <div *ngIf="control.codigo.errors.maxlength">Caracteres mayores a 5</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" [ngClass]="{'is-invalid': control.nombre.errors && control.nombre.touched}"
                            formControlName="nombre" placeholder="quimica" name="nombre" class="form-control"
                            required />
                        <div *ngIf="control.nombre.errors" class="invalid-feedback">
                            <div *ngIf="control.nombre.errors.required">Se requiere el nombre</div>
                            <div *ngIf="control.codigo.errors.maxlength">Caracteres mayores a 25</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Horario</label>
                        <input type="text" [ngClass]="{'is-invalid': control.horario.errors && control.horario.touched}"
                            formControlName="horario" placeholder="jueves 6-8 / viernes 4-6" name="horario"
                            class="form-control" required />
                        <div *ngIf="control.horario.errors" class="invalid-feedback">
                            <div *ngIf="control.horario.errors.required">Se requiere el horario</div>
                            <div *ngIf="control.codigo.errors.maxlength">Caracteres mayores a 30</div>
                        </div>
                    </div>



                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mr-1" (click)="onSubmit()" [disabled]="formGroup.invalid"
                            style="background-color: rgb(171, 224, 173);">Register</button>
                        <button class="btn btn-secondary" type="reset"
                            style="background-color: rgb(247, 138, 138);">Cancel</button>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>