<body>
  <div class="container" *ngIf="logg == false; else logged">
    <app-inicio-sesion></app-inicio-sesion>
  </div>
  <ng-template #logged>



      <div>

          <app-nav-menu (sideBar)="procesaPropagar($event)"></app-nav-menu>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
      </div>



      <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Menu</h1>

        <p-slideMenu  [model]="itemsMenu"   [viewportHeight]="500"></p-slideMenu>
      </p-sidebar>

  </ng-template>


</body>
