<div class="container-periodo">
    <div class="wrap-periodo">

        <div class="container">
            <div class="row">

                <div class="col-md-6 offset-md-3">
                    
                    <div class="card">

                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Registro de PeriodoAcademico</h4>
                            <p class="card-category">StockLab</p>
                        </div>
                        <div class="card-body col-md-8">
                            <div class="offset-md-1">
                                <form autocomplete="off" [formGroup]="formGroup">
    
                        
                                    <div class="form-group">
                                        <label>Periodo</label>
                                        <input type="text"
                                        [ngClass]="{'is-invalid': control.periodo.errors && control.periodo.touched}"
                                        formControlName="periodo" placeholder="2020-2" name="nombre"
                                            class="form-control" />
                                        
                                            <div *ngIf="control.periodo.errors" class="invalid-feedback">
                                                <div *ngIf="control.periodo.errors.required">Se requiere el periodo</div>
                                                
                                            </div>
                                    </div>
                
                                    <div class="form-group">
                                        <label>Corte</label>
                                        <select class="form-control"
                                        [ngClass]="{'is-invalid': control.corte.errors && control.corte.touched}"
                                        formControlName="corte" name="corte" id="corte">
                                            <option selected>Seleccionar</option>
                                            <option value="1">Primer Corte</option>
                                            <option value="2">Segundo Corte</option>
                                            <option value="3">Tercer Corte</option>
                                        </select>
                
                                        <div *ngIf="control.corte.errors" class="invalid-feedback">
                                            <div *ngIf="control.corte.errors.required">Se requiere el corte</div>
                                        </div>
                                    </div>
                
                                    <div style="padding-bottom: 50px;">

                                    </div>
                
                                    <div class="text-center offset-md-4">
                                        <button type="submit" class="btn btn-success mr-1"
                                        (click)="onSubmit()" [disabled]="formGroup.invalid"
                                            >Register</button>
                                        <button class="btn btn-danger" type="reset"
                                            >Cancel</button>
                                    </div>
                
                                </form>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>

    </div>
</div>