@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-------------------------------- END ----*/
    #body-row {
        margin-left: 0;
        margin-right: 0;
    }

    #sidebar-container {
        min-height: 120vh;
        background-color: #8cd1a9;
        padding: 0;
        flex: unset; 
    }
    
    .sidebar-expanded {
        width: 260px;
    }
    
    .sidebar-collapsed {
        
        width: 100px;
    }

    /* ----------| Menu item*/    
    #sidebar-container .list-group a {
        height: 70px;
        color: white;
    }

    /* ----------| Submenu item*/    
    #sidebar-container .list-group li.list-group-item {
        background-color:   #8cd1a9;
    }
    
    #sidebar-container .list-group .sidebar-submenu a {
        height: 100px;
        padding-left: 20px;
    }
    
    .sidebar-submenu {
        font-size: 0.9rem;
    }

    /* ----------| Separators */    
    .sidebar-separator-title {
        background-color: #8cd1a9;
        height: 35px;
    }
    
    .sidebar-separator {
        background-color:  #8cd1a9;
        height: 25px;
    }
    
    .logo-separator {
        background-color:  #8cd1a9;
        height: 60px;
    }
    
    a.bg-dark {
        background-color: #8cd1a9 !important;
    }

  