<div class="container-perfil">
    <div class="wrap-perfil">
        <div class="container">
            <form>
                <header style="text-align: center;">
                    <h2>Perfil Usuario</h2>
                </header>
                <div class="row">


                    <div class="form-group">
                        <div class="col-ml-6 offset-md-3">



                            <div class="form-group row">
                                <label>Identificacion</label>

                                <input type="text" value="{{usuario.idPersona}}" name="identificacion"
                                    class="form-control" disabled />

                            </div>

                            <div class="form-group row">
                                <label>Nombre</label>

                                <input type="text" name="nombre" value="{{usuario.nombre}}" class="form-control"
                                    disabled />

                            </div>

                            <div class="form-group row">
                                <label>Apellidos</label>

                                <input type="text" name="apellidos" value="{{usuario.apellidos}}" class="form-control"
                                    disabled />

                            </div>


                            <div class="form-group row">
                                <label>Correo</label>
                                <input type="text" value="{{usuario.usuario}}" name="Correo" class="form-control"
                                    disabled />
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding-left: 50px;">
                        <div class="col-md-10 offset-md-4">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">2018 Sales</h5>
                                    <h4 class="card-title">All products</h4>
    
                                </div>
                                <div class="card-body">
                                    <canvas id="myChart" width="350" height="150"></canvas>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>



            </form>
        </div>
    </div>
</div>